html {
  background: #1e1e1e;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}

.disabled > *,.dim {
  color: #888!important;
}
.preview {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

nav {
  background: #505050;
  padding-left: calc(env(titlebar-area-x, 0px) + 0.5rem);
  padding-top: env(titlebar-area-y, 0px);
  padding-right: calc(env(titlebar-area-x, 0px) + env(titlebar-area-width, 0px) + 0.5rem);
  min-height: env(titlebar-area-height, 2rem);
  box-sizing: border-box;
  -webkit-app-region: drag;
  /* app-region: drag; - coming soon */
}
nav h1 {
  font-size: 1rem;
  margin: 0;
  margin-right: 1em;
}
.menubar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,0.25) 0 0 0.25em;
}
.menubar hr {
  display: inline-block;
  height: 3rem;
  border: none;
  border-left: #ccc solid 1px;
  margin: 0 1rem;
}
.menubar .menubar-item {
  display: inline-block;
  padding: 0.5rem;
  background: #505050;
  color: #ccc;
  text-decoration: none;
}
.menubar .menubar-item > * {
  pointer-events: none;
}
.menubar .menubar-item:hover {
  background: #626262;
}
.menubar .menubar-item.selected {
  background: #333;
}
.menubar .parent.disabled > .menubar-item, .menubar-item.disabled {
  cursor: default;
  color: #888!important;
}
.menubar .parent {
  position: relative;
}
/* hacks required to make these menus accessible */
.menubar:focus-within .parent:hover > .dropdown,
.menubar-item:focus-visible + .dropdown,
.parent:focus-within > .menubar-item:not(:focus) + .dropdown {
  display: flex;
}
.menubar .dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: 0;
  width: max-content;
  background: #505050;
  box-shadow: rgba(0,0,0,0.25) 0 0 0.25em;
  z-index: 100;
}
.menubar .dropdown hr {
  height: 0;
  width: 100%;
  border-left: none;
  border-top: #ccc solid 1px;
  margin: 0.25rem 0;
}

.hero {
  background: #272727;
  padding: 1rem;
}
.hero .menubar-item {
  background: #272727;
}
.hero .menubar-item:hover {
  background: #404040;
}
.hero .dropdown {
  top: 3.5rem;
  background: #272727;
}

.editor {
  display: grid;
  grid-template-columns: 20rem 1fr;
  height: calc(100vh - 8.6rem);
}
.editor .section {
  flex-direction: column;
  width: auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.editor .section .parent {
  width: 100%;
}
.editor .section .menubar-item {
  display: block;
}
.editor .section .collapsible {
  padding-left: 2rem;
}

.collapsible-parent > .menubar-item::before {
  content: '\25BE ';
}
.collapsible-parent.closed > .menubar-item::before {
  content: '\25B8 ';
}
.collapsible-parent.closed>.collapsible {
  display: none;
}

.key-state-valid {
  border-left: 2px solid green;
}
.key-state-inherited {
  border-left: 2px solid lightgreen;
}
.key-state-unknown {
  border-left: 2px solid lightpink;
}
.key-state-invalid {
  border-left: 2px solid red;
}
.key-state-changed {
  border-left: 2px solid lightskyblue;
}

.translator {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#breadcrumb {
  margin: 0;
}
#breadcrumb > span {
  color: #aaa;
}
#breadcrumb > span::after {
  content: ' > ';
  color: #777;
}
#breadcrumb > span:last-child {
  color: #ccc;
}
#breadcrumb > span:last-child::after {
  content: none;
}
.translator > label {
  font-size: 0.6em;
  text-transform: uppercase;
  color: #4572d3;
  margin: 0.5rem 0 0.25rem 0;
}
.translator > textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0);
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
.translator > textarea:hover {
  background:rgba(255, 255, 255, 0.15);
}
.translator > textarea:focus {
  background: rgba(255, 255, 255, 0.3);
}